/* Reseteo y estilos base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #ffffff;
    --primary: #03121D;
    --secondary: #4C6D64;
    --accent: #020f1d;
    --text: #ffffff;
}

body {
    font-family: 'Prompt', sans-serif;
    background-color: var(--primary);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

form {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

button {
    background-color: var(--accent);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary);
}

/* Secciones ocultas */
#createProfileSection, #profileManagement {
    display: none;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
